<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ path('app_employee_index') }}">
            Employee Management
        </a>
    </div>
</nav>